html {
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

@keyframes slideDown {
  from {
    transform: translateY(-90%);
  }

  to {
    transform: translateY(0);
  }
}

.page-header.is-sticky {
  position: sticky;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  animation: slideDown 0.35s ease-out;
  width: 100%;
  z-index: 9999;
  top: 0;
}

.logo {
  width: 30% !important;
  margin-top: -12px !important;
}

.search-bar {
  position: absolute;
  top: -74px;
  /* Position it directly below the parent container */
  right: 183px;
  /* Align it to the right edge of the parent container */
  z-index: 1000;
  /* Ensure it appears above other elements */
  width: 20% !important;
}


.menu {
  list-style: none;
  margin: 40px 50px;
  padding: 0;
}

.menu li {
  display: inline-block;
}

.menu li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  padding: 10px 10px;
  cursor: pointer;
  position: relative;
}

.menu li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #dc3545;
  transform: scale(0);
  transition: 0.7s;
}

.menu li a:hover::before {
  transform: scale(1);
  transition: 0.7s;
}

.icon {
  margin-top: 51px;
}

.pizza-img-set {
  width: 65%;
  animation: mymove 25s infinite;
}

@keyframes mymove {
  100% {
    transform: rotate(360deg);
  }
}

.undreline {
  position: relative;
}

.undreline::after {
  content: "";
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
  width: 80px;
  height: 3px;
  background-color: #d42a2a;
  margin-left: 10px;
}

.undreline1 {
  position: relative;
  color: #8d8d8d;
}

.undreline1::after {
  content: "";
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
  width: 80px;
  height: 3px;
  background-color: #ccc;
  margin-left: 10px;
}

.card {
  border-radius: 15px !important;
  border: 2px solid #ccc;
}

.bg-set {
  background-color: #f7d4d4;
}

.p-set {
  width: 100%;
  border-radius: 50px;
}

.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu li {
  margin-bottom: 10px;
}

.footer-menu li a {
  text-decoration: none;
  color: #4e4e4e;
  font-size: 19px;
}

.offcanvas-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.offcanvas-menu li {
  margin-bottom: 10px;
}

.offcanvas-menu li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  padding: 0px 10px;

}

.f-menu {
  list-style: none;
  margin: 40px 0px;
  padding: 0;
}

.f-menu li {
  display: inline-block;
}

.f-menu li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  padding: 0px 10px;
  border-right: 1px solid #4e4e4e;
}

.card {
  overflow: hidden;
  transition: 1.5s !important;
  margin-top: 40px !important;
}

.card:hover {
  margin-top: -10px !important;
  transition: 1.5s !important;
}

.offcanvas {
  /* max-width: 40% !important; */
  width: 50% !important;
}

.card-img-top {
  transition: 1.5s;
}

.card-img-top:hover {
  transform: scale(1.2);
  transition: 1.5s;
}

/* .custom-arrow {
  font-size: 2rem;
  color: orange;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.custom-next {
  right: 10px;
}

.custom-prev {
  left: 10px;
} */
.col-set {
  overflow: hidden;
}

.scale {
  transition: 1.5s;
}

.scale:hover {
  transition: 1.5s;
  transform: scale(1.1);
}

@media(max-width:1199px) {
  .card {

    width: 91% !important;
    margin: 10px 10px;

  }

  .offcanvas {
    width: 18% !important;
  }
}

@media(max-width:992px) {
  .card {
    width: 91% !important;
    margin: 10px 10px;
  }

  .offcanvas {
    width: 30% !important;
  }

  .m-input {
    width: 30% !important;
  }

  .logo {
    width: 37% !important;
    margin-top: -12px !important;
  }

  .icon {
    margin-top: 33px !important;
  }
}



@media(max-width:768px) {
  .card {
    display: block !important;
    margin: auto !important;
    margin-top: 20px !important;
    width: 80% !important;
  }

  .offcanvas {
    width: 50% !important;
  }

  .undreline1::after {
    content: "";
    position: absolute;
    top: 51%;
    transform: translateY(-50%);
    width: 30px;
    height: 3px;
    background-color: #ccc;
    margin-left: 10px;
  }

  .f-img {
    width: 20% !important;
  }

  .logo {
    margin-top: -8px !important;
    width: 23%;

  }

  .m-input {
    width: 40% !important;
  }
}

@media(max-width:576px) {
  .logo {
    width: 47% !important;
    margin-top: -10px !important;
  }

  .icon {
    margin-top: 19px !important;
  }

  .card {
    display: block;
    margin: auto;
    margin-top: 15px;
  }

  .m-set {
    padding: 10px 10px !important;
  }

  .m-set1 {
    padding: 10px 15px !important;
  }

  .undreline1::after {
    content: "";
    position: absolute;
    top: 51%;
    transform: translateY(-50%);
    width: 40px;
    height: 3px;
    background-color: #ccc;
    margin-left: 10px;
  }

  .text-set {
    text-align: center;
  }

  .col-set {
    width: 100% !important;
  }

  .p-set {
    width: 55%;
    display: block;
    margin: auto;
  }

  .m-input {
    width: 60% !important;
  }
}

@media(max-width:420px) {
  .logo {
    margin-top: -10px !important;
    width: 59% !important;
  }

  .col-set {
    width: 100% !important;
  }

  .img-m {
    width: 83% !important;
    margin-top: 20px !important;
    margin-right: 40px;
  }

  .m-input {
    width: 70% !important;
  }
}

@media (max-width:290px) {
  .logo {
    width: 87% !important;
  }

  .img-m {
    width: 50% !important;
  }

  .undreline {
    content: "";
    position: absolute;
    top: 51%;
    transform: translateY(-50%);
    width: 40px;
    height: 3px;
    background-color: #d42a2a;
    margin-left: 10px;
  }

  .col-set {
    width: 100% !important;
  }

  .m-input {
    width: 70% !important;
  }
}

.box-shadow {
  box-shadow: 0px 1px 7px #ccc;
  padding: 0px 10px !important;
}

.ic-set {
  background-color: #d42a2a;
  padding: 6px 10px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  /* position: sticky;
  top: 50%; */
}

.position-set {
  position: relative;
  margin-top: -50px !important;
}